<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row">
            <div clas="col">
                <div class="card">
                  {{#each posts as |post|}}
                    <div class="card-header">
                        <div class="card-title"> {{post.title}}</div>
                        <div class="card-subtitle">{{post.author}}</div>
                    </div>
                    <div class="card-body">
                        {{post.content}}
                    </div>
                    <div class="card-subtitle">{{post.postDate}}</div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>


</html>